/* This is the main style sheet for the custom pages */
body {
	margin: 20px;
	padding: 20px;
}



h2.main_title {
	color: ##808080;

	font-style:italic;

	top: 0%;
}

header {
	color: #800000;
	text-align: center;
	font-weight: bold;
	font-size: large;
	padding: 20px;
	margin: 20px;
}

footer {
	position: fixed;
	bottom: 5%;
	text-align: center;
}


.navbar-brand, .navbar-nav li a {
	line-height: 50px;
	height:50px;
	padding-top: 0;
}

ul.error_message {
	list-style-type: none;
	color: red;
}

/*----------------------------------------------------
Flash message
-----------------------------------------------------*/
.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:yellow;
    font-weight:bold;
}
